@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .frosted {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

html {
    scroll-behavior: smooth;
}